<%= form_for @product, html: { multipart: true } do |f| %>
  <%= f.label :name, '產品名稱' %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :description, '產品描述' %>
  <%= f.text_field :description %>
  <br>
  <%= f.label :is_online, '是否上線' %>
  <%= f.check_box :is_online %>
  <br>
  <p><%= f.label :productimage, '產品圖片' %></p>
  <%= image_tag(@product.productimage_url) if @product.productimage? %>
  <br>
  <%= f.file_field :productimage %>
  <%= f.label :remove_productimage, '刪除' %>
  <%= f.check_box :remove_productimage %>
  <br>
  <%= file_field_tag "images[]", type: :file, multiple: true %>
  <% @product.photos.each do |p| %>
    <%= image_tag(p.image.url) %>
    <%= link_to 'delete', photo_path(p), method: :delete, data: {confirm: '確定刪除'} %>
  <% end %>
  <br>
  <%=  f.submit %>
<% end %>
  
