<% @products.each do |product| %>
  <br>
  <%= link_to product.name, edit_product_path(product) %>
  <%= product.description %>
  <br>
  <%= image_tag product.productimage %>
  <br>
  <% product.photos.each do |image|%>
    <div>
      <%= image_tag image.image.thumb %>
    </div>
    <div>
      <%= image_tag image.image %>
    </div>
  <% end %>
<% end %>
